@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
}
.container{
    height: 100vh;
    /* border: 2px solid blue; */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;

}

.one{
    background: seagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
}


.one h1{
    text-align: center;
    margin-top: 400px;
    font-size: 50px;
    text-shadow: -6px 10px 10px grey;
    color:white;
}

.two{
    background: rgb(141, 7, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
}


.two h1{
    text-align: center;
    margin-top: 400px;
    font-size: 50px;
    text-shadow: -6px 10px 10px grey;
    color:white;
}
.three{
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
}


.three h1{
    text-align: center;
    margin-top: 400px;
    font-size: 50px;
    text-shadow: -6px 10px 10px grey;
    color:white;
}
.four{
    background: rgb(43, 1, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
}


.four h1{
    text-align: center;
    margin-top: 400px;
    font-size: 50px;
    text-shadow: -6px 10px 10px grey;
    color:white;
}
